body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", "Arial", sans-serif;

  background-color: #ffffff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 2px;
}

.label-new::before {
  display: block;
  position: absolute;
  content: "new";
  text-transform: none;
  width: 85px;
  height: 28px;
  top: 5px;
  right: -23px;
  font-size: 15px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  padding-top: 4px;
  background-color: #ee3643;
  transform: rotate(45deg);
  z-index: 1;
}

.button-red {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  background-color: #ee3643;
}

.button-red:hover,
.button-red:focus {
  background-color: #ca2c37;
}

.button-red:active {
  background-color: #ba2732;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f2f6f8;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.center-top-background {
  width: 100%;
  min-height: 42px;
  background-color: #293449;
  box-shadow: 0 -5px 0 #f4f7f9 inset;
}

.top-background {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  width: 940px;
  background-color: #293449;
  box-shadow: 0 -5px 0 #f4f7f9 inset;
}

.main-logo img {
  width: 109px;
  height: 19px;
}

.main-logo {
  display: block;
  width: 220px;
  height: 47px;
  background-color: #ee3643;
  text-align: center;
  padding-top: 13px;
  box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.24) inset;
}

.main-logo:hover,
.main-logo:focus {
  background-color: #ca2c37;
}

.main-logo:active {
  background-color: #ba2732;
}

.main-menu {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-menu li {
  display: flex;
  align-items: center;
}

/*поиск по сайту*/
.site-search {
  display: flex;
  align-items: center;
  position: relative;
  width: 270px;
  height: 42px;
}

.site-search input {
  position: absolute;
  top: 0;
  left: 0;
  width: 270px;
  min-height: 42px;
  padding-left: 49px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  border: none;
}

.site-search input::placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.loupe svg {
  margin-left: 17px;
  opacity: 0.3;
}

.site-search:hover svg {
  opacity: 1;
}

.site-search input:focus {
  color: #000000;
  background-color: #ffffff;
  z-index: 1;
}

.site-search input:hover+.loupe,
.site-search input:focus+.loupe {
  z-index: 2;
}

.site-search input:focus+.loupe path {
  fill: red;
}

.site-search input:focus+.loupe svg {
  opacity: 1;
}

/*конец поиска по сайту*/

.main-menu .bookmarks-index,
.main-menu .cart-index,
.main-menu .checkout {
  display: flex;
  align-items: center;
  position: relative;
  width: 150px;
  height: 42px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.main-menu .bookmarks-index {
  padding-left: 45px;
}

.main-menu .cart-index {
  padding-left: 49px;
}

.main-menu .bookmarks-index::before,
.main-menu .cart-index::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 17px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.main-menu .bookmarks-index::before {
  width: 14px;
  height: 16px;
  background-image: url(../img/icon-bookmark.svg);
}

.main-menu .cart-index::before {
  width: 15px;
  height: 15px;
  background-image: url(../img/icon-cart.svg);
}

.main-menu .bookmarks-index:hover,
.main-menu .bookmarks-index:focus,
.main-menu .cart-index:hover,
.main-menu .cart-index:focus {
  background-color: #212a3a;
}

.main-menu .bookmarks-index:hover::before,
.main-menu .bookmarks-index:focus::before,
.main-menu .cart-index:hover::before,
.main-menu .cart-index:focus::before {
  opacity: 1;
}

.main-menu .bookmarks-index:active,
.main-menu .cart-index:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29;
}

.main-menu .bookmarks-index:active::before,
.main-menu .cart-index:active::before {
  opacity: 0.5;
}

.cart-index.more-one {
  background-color: #ee3643;
}


.main-menu .checkout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  min-height: 42px;
  background-color: #63a63e;
}

.main-menu .checkout:hover,
.main-menu .checkout:focus {
  background-color: #5fbb2d;
}

.main-menu .checkout:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #518534;
}

.light-blue-background {
  width: 100%;
  background-color: #f4f7f9;
}

.header-middle-block {
  display: flex;
  min-height: 153px;
}

.header .site-description {
  width: 210px;
  margin-top: 45px;
  margin-left: 52px;
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  text-align: left;
  color: #ee3643;
}

.site-description span {
  display: block;
}

.header-contacts {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 42px;
  margin-left: 57px;
}

.header .phone {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 72px;
  margin-bottom: 3px;
  width: 270px;
  min-height: 45px;
  font-size: 21px;
  line-height: 21px;
  text-align: left;
  color: #e9292a;
  border: 3px solid #ffffff;
}

.header .phone::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 19px;
  top: 10px;
  left: 15px;
  background-image: url(../img/icon-phone.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.header address {
  margin-left: 11px;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  color: #32425c;
}

.user-navigation {
  display: flex;
  align-self: flex-start;
  margin-top: 40px;
  margin-left: auto;
  list-style: none;
}

.user-navigation li {
  position: relative;
}

.user-navigation .icon-login {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 14px;
  left: 24px;
  width: 20px;
  height: 17px;
  z-index: 1;
  order: 1;
}

.user-navigation .sign-in,
.user-navigation .sign-up {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  min-width: 150px;
  height: 45px;
  margin-left: 10px;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.user-navigation .sign-in {
  justify-content: flex-start;
  padding-left: 48px;
  min-width: 121px;
  order: 2;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #ee3643;
}

.user-navigation .sign-in:hover~.icon-login path,
.user-navigation .sign-in:focus~.icon-login path {
  fill: #32425c;
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation .sign-in:active~.icon-login path {
  fill: #c5c5c5;
}

.navigation-box {
  display: flex;
  min-height: 60px;
  background-color: #32425c;
  margin-bottom: 60px;
}

.main-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  list-style: none;
}

.main-navigation li {
  display: flex;
  flex-grow: 1;
  box-shadow: 0 -5px 0 #293449 inset;
}

.main-navigation a {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  font-size: 17px;
  line-height: 60px;
  text-align: left;
  color: #ffffff;
}

.main-navigation .index-page {
  padding-left: 21px;
}

.main-navigation .contacts-page {
  padding-right: 23px;
}

.main-navigation a:hover,
.main-navigation a:focus {
  background-color: #293449;
}

.main-navigation a:active {
  color: #a8abaf;
  background-color: #1d2739;
}

.site-sections1,
.site-sections2 {
  margin: 0;
  margin-top: 60px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  list-style: none;
}

.site-sections2 {
  flex-direction: column;
  margin-top: 0;
}

.site-sections1 li,
.site-sections2 li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 300px;
  min-height: 123px;
  margin-right: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.site-sections2 li {
  margin-right: 0;
  margin-left: 20px;
}

.site-sections1 li:nth-child(3n) {
  margin-right: 0;
}

.site-sections1 .materials {
  background-color: #ffbf47;
  background-image: url(../img/icon-1.svg);
  background-position: 214px 30px;
}

.site-sections1 .tool {
  background-color: #3bbce3;
  background-image: url(../img/icon-2.svg);
  background-position: 197px 32px;
}

.site-sections1 .equipment {
  background-color: #dc91d8;
  background-image: url(../img/icon-3.svg);
  background-position: 190px 30px;
}

.site-sections2 .discount {
  background-color: #8ed78f;
  background-image: url(../img/icon-4.svg);
  background-position: 197px 25px;
}

.site-sections2 .delivery {
  margin-bottom: 0;
  background-color: #ffc047;
  background-image: url(../img/icon-5.svg);
  background-position: 190px 30px;
}

.site-sections1 p,
.site-sections2 p {
  margin: 0;
  margin-top: 20px;
  margin-left: 23px;
  font-size: 25px;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
}

.site-sections1 a,
.site-sections2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 135px;
  min-height: 38px;
  margin-left: 23px;
  margin-bottom: 22px;
  background-color: rgba(0, 0, 0, 0.1);
}

.materials a,
.tool a {
  margin-left: 25px;
}

.site-sections1 a:hover,
.site-sections2 a:hover,
.site-sections1 a:focus,
.site-sections2 a:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.site-sections1 a:active,
.site-sections2 a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

/*начало слайдера*/
.slider {
  position: relative;
  width: 620px;
  min-height: 266px;
}

.slider-images ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-images .slides-item {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #958b85;
}

.slider-heading {
  position: absolute;
  margin: 0;
  top: 21px;
  left: 24px;
  text-transform: uppercase;
  font-size: 38px;
  line-height: 38px;
  text-align: left;
  color: #ffffff;
}

.slider-description {
  position: absolute;
  margin: 0;
  top: 60px;
  left: 25px;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: #ffffff;
}

.slider .button-red {
  position: absolute;
  width: 195px;
  left: 25px;
  bottom: 22px;
  padding-left: 5px;
}

.slider-controls .left-button,
.slider-controls .right-button {
  display: block;
  position: absolute;
  top: 114px;
  width: 22px;
  height: 40px;
  z-index: 1;
}

.slider-controls .left-button {
  left: 25px;
  background-image: url(../img/icon-left.svg);
  background-repeat: no-repeat;
}

.slider-controls .right-button {
  right: 20px;
  background-image: url(../img/icon-right.svg);
  background-repeat: no-repeat;
}

.dots-block {
  display: flex;
  position: absolute;
  left: 295px;
  bottom: 36px;
  z-index: 1;
}

.dots-item {
  display: block;
  position: relative;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  background-color: #ffffff;
  border-radius: 50%;
}

.dots-item.active::before {
  display: block;
  position: absolute;
  content: "";
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  background-color: #ee3643;
  border-radius: 50%;
}

/*конец слайдера*/
.popular-goods .section-header,
.popular-manufactures .section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 89px;
  margin-top: 53px;
  margin-bottom: 20px;
  background-color: #f9f5f0;
}

.popular-manufactures .section-header {
  margin-top: 0px;
}

.popular-goods h2,
.popular-manufactures h2 {
  margin-left: 29px;
  text-transform: uppercase;
  font-size: 28.5px;
  line-height: 30px;
  color: #32425c;
}

.section-header .button-red {
  width: 253px;
  margin-top: -1px;
  margin-right: 24px;
}

.good-list,
.manufactures-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.manufactures-list {
  margin-bottom: 60px;
}

.good-list .good-item,
.manufactures-list li {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 220px;
  margin-right: 20px;
  margin-bottom: 5px;
  overflow: hidden;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  border: 1px solid #eaeaea;
}

.manufactures-list li {
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  min-height: 145px;
}

.good-list .good-item:nth-child(4n),
.manufactures-list li:nth-child(4n) {
  margin-right: 0;
}

.manufactures-list .makita,
.manufactures-list .dewalt {
  margin-top: -2px;
}

.manufactures-list .interskol {
  margin-top: -14px;
  margin-left: -1px;
}

.manufactures-list .hitachi {
  margin-top: 2px;
  margin-left: 5px;
}

.manufactures-list .metabo {
  margin-top: -10px;
  margin-left: 4px;
}

/*карточка товара*/
.good-list img {
  display: block;
  position: relative;
  order: 1;
}

.good-item .good-title {
  align-self: center;
  width: 160px;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  order: 2;
}

.good-title h3 {
  margin: 0;
  margin-top: 7px;
  font-size: inherit;
  word-wrap: break-word;
  text-align: center;
}

.good-item .good-category {
  text-transform: none;
}

.good-item p {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 99px;
  margin: 0;
  order: 3;
}

.good-item b {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 0px;
  margin-left: 0px;
  margin-bottom: 10px;
  text-decoration: line-through;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #a9a9a9;
}

.good-list .good-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.good-list .good-item:hover>img,
.good-active img {
  visibility: hidden;
}

.good-list .order-item {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 218px;
  height: 140px;
  top: 0;
  left: 0;
}

.button-item {
  position: relative;
  display: block;
  margin-left: 43px;
  margin-bottom: 20px;
  width: 141px;
  min-height: 38px;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  padding-left: 35px;
  padding-top: 10px;
  background-image: url(../img/red-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.button-item::after {
  position: absolute;
  content: "";
  width: 85%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #ee3643;
}

.order-item .button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 135px;
  height: 38px;
  padding-left: 3px;
  font-size: 14px;
  letter-spacing: -1.5px;
  font-weight: normal;
  line-height: 10px;
}

.button.buy {
  position: relative;
  margin-top: 29px;
  margin-bottom: 7px;
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
}

.button.buy:hover,
.button.buy:focus {
  background-color: #5fbb2d;
}

.button.buy:active {
  background-color: #518534;
  box-shadow: none;
}

.button.buy::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 13px;
  width: 15px;
  height: 15px;
  background-image: url(../img/icon-cart.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0.3;
}

.button.buy:hover::before,
.button.buy:focus::before {
  opacity: 1;
}

.button.to-bookmarks {
  padding-top: 1px;
  color: #32425c;
  border: 3px solid #63a63e;
}

.button.to-bookmarks:hover,
.button.to-bookmarks:focus {
  border: solid 3px #32425c;
}

.button.to-bookmarks:active {
  opacity: 0.3;
}

/*конец карточки товара*/

.manufactures-list li:hover,
.manufactures-list li:focus {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.manufactures-list li:active {
  opacity: 0.5;
}

.services-description {
  padding-top: 68px;
  margin-bottom: 23px;
  width: 400px;
}

.services-description h2 {
  margin: 0;
  margin-bottom: 27px;
  text-transform: uppercase;
  font-size: 29px;
  line-height: 30px;
  text-align: left;
}

.services-description p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
}

/*слайдер сервисов*/
.services-slider {
  display: flex;
  position: relative;
  min-height: 330px;
}

.services-slider-controls {
  position: relative;
  display: flex;
  flex-direction: column;
}

.services-slider-controls::before {
  display: block;
  position: absolute;
  content: "";
  width: 10px;
  height: 279px;
  right: 0;
  top: 0;
  background-image: url(../img/separation-line.png);
  background-position: center;
  background-repeat: no-repeat;
}

.services-slider-controls ul {
  margin: 0;
  margin-top: 45px;
  padding: 0;
  list-style: none;
}

.services-slider-controls button {
  width: 240px;
  min-height: 62px;
  padding-left: 22px;
  font-size: 21px;
  font-weight: bold;
  line-height: 29px;
  text-align: left;
  color: #ffffff;
  background-color: #32425c;
  border: none;
  box-shadow:
    0px 1px 0 0 #293449,
    inset 0px 1px 0 0 #405069;
}

.services-slider-controls button:hover,
.services-slider-controls button:focus {
  background-color: #293449;
}

.services-slider-controls .active {
  color: #32425c;
  background-color: #ffffff;
  box-shadow: none;
}

.services-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-list li {
  display: flex;
  position: absolute;
  width: 700px;
  min-height: 330px;
  background-color: #f4f7f9;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}

.services-list .slide-delivery {
  background-image: url(../img/delivery.png);
  z-index: 3;
}

.services-list .slide-warranty {
  background-image: url(../img/warranty.png);
  z-index: 2;
}

.services-list .slide-credit {
  background-image: url(../img/credit.png);
  z-index: 1;
}

.services-list .slide-description {
  width: 375px;
  margin-left: 80px;
  margin-top: 45px;
}

.slide-delivery .slide-description {
  width: 275px;
}

.slide-description h4 {
  margin: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 37px;
  line-height: 36px;
  text-align: left;
  color: #32425c;
}

.slide-description p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
}

.slide-description .button-red {
  margin-top: 28px;
  width: 195px;
}

/*конец слайдера сервисов*/

.index-columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.about-us,
.contacts {
  margin-top: 80px;
  margin-bottom: 86px;
}

.about-us-text,
.contacts-text {
  display: flex;
  flex-direction: column;
  min-height: 293px;
}

.about-us {
  width: 519px;
}

.contacts {
  width: 300px;
}

.about-us h2,
.contacts h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-align: left;
}

.about-us p,
.contacts p {
  margin: 0;
  margin-bottom: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  letter-spacing: 0.1px;
  line-height: 24px;
  text-align: left;
}

.about-us .button-red,
.contacts .button-red {
  margin-top: 36px;
  padding-top: 4px;
  width: 100%;
}

.about-us .button-red {
  width: 220px;
}

.contacts .button-red {
  margin-top: 37px;
  padding-left: 11px;
}

.about-us .part2 {
  width: 390px;
  margin-bottom: 0px;
  letter-spacing: normal;
}

.contacts p {
  width: 180px;
  margin-bottom: 30px;
  letter-spacing: normal;
}

.about-us ul {
  margin: 0;
  padding: 0;
  padding-left: 25px;
  list-style: none;
}

.about-us li {
  position: relative;
  margin-left: 11px;
  margin-top: 20px;
  font-size: 17px;
  font-weight: bold;
  line-height: 20px;
  text-align: left;
}

.about-us li::before {
  position: absolute;
  content: "";
  top: 10px;
  left: -36px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

/*начало футера*/
.footer {
  color: #ffffff;
}

.footer-container-top,
.footer-container-bottom {
  display: flex;
  justify-content: space-between;
}

.footer-top-background {
  background-color: #32425c;
}

.footer-logo img {
  width: 138px;
  height: 23px;
}

.footer-logo {
  display: block;
  margin-bottom: 27px;
  width: 220px;
  height: 68px;
  background-color: #ee3643;
  text-align: center;
  padding-top: 20px;
  box-shadow: 0 -5px 0 rgba(0, 0, 0, 0.24) inset;
}

.footer-logo:hover,
.footer-logo:focus {
  background-color: #ca2c37;
}

.footer-logo:active {
  background-color: #ba2732;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  margin-bottom: 48px;
}

.footer address,
.footer .phone {
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: #f1f5f7;
}

.footer ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer li {
  display: flex;
}

.footer-first-menu a,
.footer-second-menu a {
  margin-left: 59px;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.footer-first-menu a {
  padding-top: 37px;
  color: #f1f5f7;
}

.footer-second-menu a {
  color: #ffd180;
}

.footer-first-menu a:hover,
.footer-first-menu a:focus {
  text-decoration: underline;
}

.footer-second-menu a:hover,
.footer-second-menu a:focus {
  text-decoration: underline;
}

.footer-first-menu a:active,
.footer-second-menu a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-bottom-background {
  background-color: #293449;
  border: 1px solid transparent;
}

.footer-container-bottom {
  justify-content: flex-start;
}

.developer-company {
  margin-top: 38px;
  margin-left: 1px;
  margin-bottom: 34px;
}

.developer-company p {
  margin: 0;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
}

.social-buttons {
  margin-top: 36px;
  margin-left: 163px;
  margin-right: auto;
}

.social-buttons a {
  display: block;
  position: relative;
  width: 42px;
  height: 42px;
  margin-right: 3px;
  font-size: 0px;
  line-height: 18px;
  color: #ffffff;
}

.social-buttons a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #212a3a;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.social-buttons .vk::before {
  background-image: url(../img/icon-vk.svg);
}

.social-buttons .fb::before {
  background-image: url(../img/icon-fb.svg);
}

.social-buttons .insta::before {
  background-image: url(../img/icon-insta.svg);
}

.social-buttons a:hover::before,
.social-buttons a:focus::before,
.social-buttons a:active::before {
  background-color: #ee3643;
}

.feedback-link,
.developer-link {
  display: flex;
  flex-direction: column;
  margin-top: 37px;
}

.developer-link {
  margin-left: 52px;
  margin-right: 14px;
}

.feedback-link a,
.developer-link a {
  color: #ffd180;
}

.feedback-link a:hover,
.feedback-link a:focus,
.developer-link a:hover,
.developer-link a:focus {
  text-decoration: underline;
}

.feedback-link a:active,
.developer-link a:active {
  text-decoration: none;
  color: #ee3643;
}

/*конец футера*/

/*Страница каталога*/
.user-information {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 43px;
  margin-left: auto;
  width: 300px;
}

.user-login,
.user-login a {
  display: flex;
  font-size: 21px;
  line-height: 21px;
  height: 45px;
  margin-bottom: 5px;
  color: #000000;
  background-color: #ffffff;
}

.user-login .icon-user {
  width: 20px;
  height: 18px;
  margin-top: 10px;
  margin-left: 14px;
  margin-right: 10px;
}

.user-login span {
  padding-top: 10px;
  padding-left: 4px;
}

.user-login .exit {
  width: 21px;
  height: 21px;
  padding: 0;
  margin-top: 10px;
  margin-left: 35px;
  border: none;
  background-color: transparent;
}

.user-login:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-login:hover path,
.user-login:focus path,
.user-login:hover~.exit path,
.user-login:focus~.exit path {
  fill: #32425c;
}

.user-login:active path,
.user-login:active~.exit path {
  fill: #c5c5c5;
}

.user-information .user-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 210px;
  margin: 0;
  margin-left: 19px;
  padding: 0;
}

.user-navigation a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
  background-color: inherit;
}

.user-navigation span {
  display: block;
  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
}

.catalog-main-container {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.catalog-title {
  padding-top: 30px;
  padding-left: 29px;
  padding-bottom: 30px;
  margin-bottom: 20px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
  order: 2;
}

.breadcrambs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 940px;
  height: 59px;
  padding: 0;
  list-style: none;
  order: 1;
}

.breadcrambs a {
  position: relative;
  margin-right: 42px;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  color: #000000;
}

.breadcrambs .catalog-page {
  margin-right: 41px;
}

.breadcrambs a:not(.index-page):after {
  position: absolute;
  content: "";
  top: 2px;
  left: -23px;
  width: 8px;
  height: 12px;
  background-image: url(../img/icon-right-small.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.breadcrambs .index-page {
  margin-right: 54px;
  padding-left: 0px;
  font-size: 0;
}

.breadcrambs .index-page::before {
  position: absolute;
  content: "";
  top: -9px;
  left: -1px;
  width: 15px;
  height: 12px;
  background-image: url(../img/icon-home.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

/*Фильтры*/
.filters {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
}

.filters-title,
.sorting h3 {
  margin: 0;
  margin-left: 18px;
  width: 220px;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: #000000;
  background-color: #f7f3ec;
}

.filters-title {
  display: flex;
  align-items: center;
  height: 38px;
  margin: 0;
  margin-bottom: 19px;
  padding-left: 20px;
}

.filters fieldset {
  margin: 0;
  padding: 0;
  padding-bottom: 25px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filters .power {
  border: none;
}

.filters legend {
  padding-top: 25px;
  margin-bottom: 1px;
  font-size: 17px;
  font-weight: bold;
  line-height: 13px;
}

.price legend {
  padding-top: 0;
  margin-bottom: 22px;
}

.filters ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filters li {
  margin-top: 20px;
}

.filters label {
  position: relative;
  padding: 0;
  margin-left: 33px;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}

.filters label::before,
.filters label::after {
  position: absolute;
  content: "";
  top: -2px;
  left: -32px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.filters input:focus+label::before {
  outline: 2px solid #99baf0;
}

.manufacturers label::before {
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
}

.power label::before {
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
}

.manufacturers input:checked~label::after {
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
}

.power input:checked~label::after {
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-on.svg);
}

/*фильтр цены*/
.range-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 220px;
  height: 127px;
}

.range-slider-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 80px;
  margin-bottom: 9px;
  background-color: #f7f3ec;
}

.range-slider-track {
  position: relative;
  width: 180px;
  height: 2px;
  background-color: #d7dcde;
}

.range-slider-track::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 142px;
  height: 2px;
  background-color: #00ca74;
}

.range-slider-pin {
  position: absolute;
  display: block;
  top: -10px;
  width: 20px;
  height: 23px;
  border: none;
  background: none;
  background-image: url(../img/filter-button.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.range-slider-pin-min {
  left: 0;
}

.range-slider-pin-max {
  left: 140px;
}

.range-slider input {
  width: 95px;
  min-height: 38px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: #f7f3ec;
  border: none;
}

.range-slider input[name="min"] {
  padding-left: 8px;
}

/*конец фильтра цены*/


.filters-button {
  text-transform: uppercase;
  min-width: 140px;
  min-height: 38px;
  margin-top: 53px;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  background: inherit;
  border: 1px solid #e5e5e5;
}

/*конец блока фильтры*/
.sorting {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 700px;
  min-height: 38px;
  background-color: #f7f3ec;
}

.sorting .sorting-menu {
  display: flex;
  width: 354px;
  height: 38px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sorting-menu li {
  display: flex;
}

.sorting-type {
  margin-left: 72px;
}

.sorting-functions {
  margin-left: auto;
}

.sorting-menu a {
  margin-top: 9px;
  margin-bottom: 12px;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
}

.sorting-menu a:hover,
.sorting-menu a:focus {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sorting-menu .sorting-active {
  color: #ee3643;
  border-bottom: none;
}

.sorting .sorting-buttons {
  margin-left: auto;
  width: auto;
}

.sorting-menu button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 38px;
  margin-right: 5px;
  border: none;
  background: none;
}

.sorting-menu .icon-up-dir,
.sorting-menu .icon-down-dir {
  width: 11px;
  height: 10px;
  opacity: 0.2;
}

.up-dir:hover .icon-up-dir,
.up-dir:focus .icon-up-dir,
.down-dir:hover .icon-down-dir,
.down-dir:focus .icon-down-dir {
  opacity: 1;
}

.icon-up-dir.sorting-active,
.icon-down-dir.sorting-active {
  opacity: 1;
}

.icon-up-dir.sorting-active path,
.icon-down-dir.sorting-active path {
  fill: #ee3643;
}

.catalog-good-list {
  width: 700px;
  margin: 0;
}

.catalog-good-list .good-item {
  margin-right: 20px;
  margin-bottom: 20px;
}

.catalog-good-list .good-item:nth-child(4n) {
  margin-right: 20px;
}

.catalog-good-list .good-item:nth-child(3n) {
  margin-right: 0;
}

.paging {
  display: flex;
  width: 700px;
  margin: 0;
  margin-top: 32px;
  padding: 0;
  list-style: none;
}

.paging a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 38px;
  height: 38px;
  margin-right: 10px;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
}

.paging a:not(.current-page):hover,
.paging a:not(.current-page):focus {
  border: 1px solid #bdc6ca;
}

.paging a:not(.current-page):active {
  border: 1px solid #ee3643;
}

.paging .current-page {
  background-color: #ee3643;
  color: #ffffff;
}

.paging .next-page {
  min-width: 140px;
  min-height: 38px;
}

.category-description {
  margin-top: 60px;
  padding-bottom: 55px;
}

.category-description h2 {
  padding-top: 66px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30.5px;
  font-weight: normal;
  line-height: 30px;
  text-align: left;
}

.category-description p {
  width: 910px;
  text-transform: none;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
}

/*modul windows*/
.popup {
  position: fixed;
  display: none;
  top: 20%;
  left: 50%;
  z-index: 3;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.modal-show {
  display: block;
  animation-name: bounce;
  animation-duration: 0.6s;
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation-name: shake;
  animation-duration: 0.6s;
}

@keyframes bounce-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-2000px);
  }
}

.modal-close {
  animation-name: bounce-up;
  animation-duration: 0.6s;
}

.popup .close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  font-size: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.popup .close:before,
.popup .close:after {
  position: absolute;
  content: "";
  top: 9px;
  left: -3px;
  width: 27px;
  height: 4px;
  background-color: #ee3643;
}

.popup .close:before {
  transform: rotate(45deg);
}

.popup .close:after {
  transform: rotate(-45deg);
}

.popup .buttons-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 112px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: #f1f1f1;
}

/*cartplus*/
.cartplus {
  width: 620px;
  margin-left: -310px;
  background-color: #ffffff;
  border-top: 7px solid #ff5358;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
}

.cartplus p {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 65px;
  padding-left: 55px;
  min-height: 163px;
  font-size: 30px;
  line-height: 30px;
}

.cartplus p::before {
  position: absolute;
  content: "";
  top: 47px;
  left: 80px;
  width: 66px;
  height: 66px;
  background-image: url(../img/icon-mark.svg);
  background-repeat: no-repeat;
}

.buttons-area a:last-child {
  color: #000000;
  background-color: #ffffff;
}

.buttons-area .button {
  width: 220px;
}

/*feedback*/
.feedback {
  width: 620px;
  min-height: 430px;
  margin-left: -310px;
  border-top: 7px solid #ff5358;
  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.feedback .feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.feedback-form p {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-top: 22px;
}

.feedback-form .feedback-name {
  margin-left: 80px;
}

.feedback-form .feedback-email {
  margin-left: 20px;
  margin-right: 80px;
}

.feedback-form .feedback-text {
  width: 460px;
  margin-left: 80px;
}

.feedback label {
  font-size: 18px;
  line-height: 18px;
  text-align: left;
}

.feedback-form .feedback-text {
  margin-top: 20px;
  margin-left: 1px;
}

.feedback input,
.feedback textarea {
  margin-top: 10px;
  border: 2px solid #dee3e4;
}

.feedback input {
  min-width: 220px;
  min-height: 38px;
}

.feedback textarea {
  min-height: 114px;
  margin-bottom: 37px;
}

.feedback input::placeholder,
.feedback textarea::placeholder {
  padding-top: 10px;
  padding-left: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  color: #a9a9a9;
}

.feedback textarea::placeholder {
  padding-top: 6px;
  padding-left: 11px;
}

.feedback .button-red {
  width: 460px;
}

/*map*/
.map {
  top: 15%;
  width: 940px;
  height: 446px;
  margin-left: -470px;
  box-shadow: 0 0 14.7px 1.3px rgba(47, 42, 43, 0.5);
}

/*стили для FireFox*/
@-moz-document url-prefix() {
  .site-search input::placeholder {
    line-height: 40px;
    opacity: 1;
  }

  .loupe svg {
    margin-top: 8px;
  }

  .feedback input,
  .feedback textarea {
    padding-top: 8px;
    padding-left: 13px;
  }
}

/*конец стилей для FireFox*/
